<header id="site-header" class="site-header header-style-2 sticky-header header-fullwidth">
    <div class="header-topbar blue-color">
        <div class="octf-area-wrap">
            <div class="container-fluid">
                <div class="topbar_menu">
                    <ul id="menu-topbar-menu" class="menu clearfix">
                        <li><a href="@Url.Action("About","Corporate")">Biz Kimiz?</a></li>
                        <li><a href="faq.html">Lody Baby</a></li>
                    </ul>
                </div>
                <ul class="social-list">
                    <li><a href="#" target="_self"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#" target="_self"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" target="_self"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#" target="_self"><i class="fab fa-instagram"></i></a></li>
                </ul>
                <div class="topbar_languages">
                    <div id="polylang-2" class="topbar_widget widget_polylang">
                        <select name="lang_choice_polylang-2" id="lang_choice_polylang-2">
                            <option value="tr" selected="selected">Türkçe</option>
                            <option value="en">English</option>
                        </select>
                    </div>
                </div>
                <ul class="topbar-info clearfix">
                    <li><i class="flaticon-placeholder"></i> Ofis osb Mah. OSB 2. Bulvar No:31, Mardin </li>
                    <li><i class="flaticon-envelope"></i> info@lodybaby.com </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Main header start -->
    <div class="octf-main-header">
        <div class="octf-area-wrap">
            <div class="container-fluid octf-mainbar-container">
                <div class="octf-mainbar">
                    <div class="octf-mainbar-row octf-row">
                        <div class="octf-col">
                            <div id="site-logo" class="site-logo">
                                <a href="/">
                                    <img class="logo-static" src="~/Content/images/company/lody-baby-kurumsal-logo.png" alt="lody-baby-kurumsal-logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="octf-col">
                            <nav id="site-navigation" class="main-navigation">
                                <ul id="primary-menu" class="menu">
                                    <li class="menu-item @*current-menu-ancestor*@">
                                        <a href="/">Anasayfa</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a>Kurumsal</a>
                                        <ul class="sub-menu">
                                            <li><a href="@Url.Action("About","Corporate")">Hakkımızda</a></li>
                                            <li><a href="@Url.Action("Docs","Corporate")">Belgelerimiz</a></li>
                                            <li><a href="@Url.Action("Vision","Corporate")">Misyon-Vizyon</a></li>
                                            <li><a href="@Url.Action("Management","Corporate")">Yönetim Felsefesi</a></li>
                                            <li><a href="@Url.Action("Quality","Corporate")">Bilgi Güvenliği Politakası</a></li>
                                            <li><a href="@Url.Action("InfoSecurity","Corporate")">Kalite Politikası</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="@Url.Action("Index","Product")">Ürünlerimiz</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="@Url.Action("Index","Blog")">Blog Yazılarımız</a>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a>Galerimiz</a>
                                        <ul class="sub-menu">
                                            <li><a href="@Url.Action("Photo","Gallery")">Fotoğraflarımız</a></li>
                                            <li><a href="@Url.Action("Video","Gallery")">Videolarımız</a></li>
                                            <li><a href="@Url.Action("Ecatalog","Gallery")" target="_blank">Kataloğumuz</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#">İnsan Kaynakları</a>
                                    </li>                                  
                                    <li class="menu-item">
                                        <a href="@Url.Action("Index","Contact")">Bize Ulaşın</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="octf-col text-right">                          
                            <div class="octf-btn-cta">  
                                <div class="octf-header-module">
                                    <div class="btn-cta-group btn-cta-header">
                                        <a class="octf-btn octf-btn-third" href="#">Online Market</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main header close -->
    <!-- Header mobile open -->
    <div class="header_mobile">
        <div class="container">
            <div class="mlogo_wrapper clearfix">
                <div class="mobile_logo">
                    <a href="/">
                        <img src="~/Content/images/company/lody-baby-kurumsal-logo.png" alt="lody-baby-kurumsal-logo.png" data-lazy-src="~/Content/images/company/lody-baby-kurumsal-logo.png">
                        <noscript><img src="~/Content/images/company/lody-baby-kurumsal-logo.png" alt="lody-baby-kurumsal-logo.png"></noscript>
                    </a>
                </div>
                <div class="octf-btn-cta">
                    <div class="octf-header-module cart-btn-hover">
                        <div class="h-cart-btn octf-cta-icons">
                            <a class="cart-contents" href="#" title="Online Market">
                                <i class="flaticon-supermarket"></i>
                            </a>
                        </div>                      
                    </div>
                </div>
                <div id="mmenu_toggle">
                    <button></button>
                </div>
            </div>
            <div class="mmenu_wrapper">
                <div class="mobile_nav">
                    <ul id="menu-main-menu" class="mobile_mainmenu">
                        <li class="menu-item">
                            <a href="/">Anasayfa</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/">Kurumsal</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("About","Corporate")">Hakkımızda</a></li>
                                <li><a href="@Url.Action("Docs","Corporate")">Belgelerimiz</a></li>
                                <li><a href="@Url.Action("Vision","Corporate")">Misyon-Vizyon</a></li>
                                <li><a href="@Url.Action("Management","Corporate")">Yönetim Felsefesi</a></li>
                                <li><a href="@Url.Action("Quality","Corporate")">Bilgi Güvenliği Politakası</a></li>
                                <li><a href="@Url.Action("InfoSecurity","Corporate")">Kalite Politikası</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Index","Product")">Ürünlerimiz</a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Index","Blog")">Blog Yazılarımız</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a>Galerimiz</a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Photo","Gallery")">Fotoğraflarımız</a></li>
                                <li><a href="@Url.Action("Video","Gallery")">Videolarımız</a></li>
                                <li><a href="@Url.Action("Ecatalog","Gallery")" target="_blank">Kataloğumuz</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="#">İnsan Kaynakları</a>
                        </li>                      
                        <li class="menu-item">
                            <a href="@Url.Action("Index","Contact")">Bize Ulaşın</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Header mobile close -->
</header>
