@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content" class="site-content">
    @Html.Partial("_Slider")

    @Html.Partial("_Section")

    @Html.Partial("_WhoWeAre")

    @Html.Partial("_About")

    @Html.Partial("_Team")

    @Html.Partial("_Gallery")

    @Html.Partial("_Result")
</div>
